{*
 * Copyright (c) 2022 Strategio Digital s.r.o.
 * @author Jiří Zapletal (https://strategio.digital, jz@strategio.digital)
 *}

{extends './../@layout.latte'}

{block head}
    <title>Nákupní košík</title>
    <meta name="description" content="Váš nákupní košík">
    {include parent}
{/block}

{block bottom}{/block}

{block content}
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div id="vueCart"></div>
    </div>
{/block}


