{*
 * Copyright (c) 2022 Strategio Digital s.r.o.
 * @author Jiří Zapletal (https://strategio.digital, jz@strategio.digital)
 *}

{varType ContentioSdk\Component\AssetLoader $assets}
{varType ContentioSdk\Controller\Base\BaseController $controller}

<!-- Cart -->
<div id="vueCartSmall"></div>